<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocumentFinderApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DocumentFinderApp.Properties.Settings>
            <setting name="FolderPath1" serializeAs="String">
                <value>C:\Users\drewc\Pictures</value>
            </setting>
            <setting name="FolderPath2" serializeAs="String">
                <value>C:\Users\drewc\Documents</value>
            </setting>
        </DocumentFinderApp.Properties.Settings>
    </userSettings>
</configuration>